@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fec3a6;
  padding: 5em 0;
}

h3,
p {
  text-align: center;
  color: #141301;
  opacity: 0.9;
}

h3 {
  text-transform: uppercase;
  font: bold 34px/120% Georgia, serif;
}

li {
  text-align: left;
  font: 400 16px/120% "Rubik", sans-serif;
  opacity: 0.9;
  color: #141301;
  margin-left: 10px;
  flex: 1;
}

p {
  font: normal 16px/120% "Rubik", sans-serif;
  padding: 0.3em 1em;
}

#date {
  font: 400 16px/120% "Rubik", sans-serif;
  letter-spacing: 0.3em;
  margin-top: 0.5em;
  margin-bottom: 2em;
}

section {
  border-radius: 10px;
  border: 3px solid #141301;
  margin-top: 2em;
  padding: 1em 2em;
  background-color: #ffd1bb;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

section .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 2em;
}

input[type="text"] {
  padding: 0.5em 0;
  width: 300px;
  max-width: 80%;
  color: rgb(48, 47, 47);
  cursor: text;
  margin: 0;
  border: none;
  outline: none;
  border-bottom: 2px solid #141301;
  background-color: transparent;
  font-size: 15px;
}

input:focus {
  border-bottom: 2px solid #ccad9c;
}

input::placeholder {
  color: #353131;
  font-size: 15px;
}

button:not(.check-btn) {
  text-align: center;
  background-color: #141301;
  color: #f0f0f0;
  padding: 6px 10px;
  text-transform: uppercase;
  outline: none;
  border: 0;
  border-radius: 10px;
  font: 400 15px/120% "Rubik", sans-serif;
}

button:not(.check-btn):hover {
  transform: scale(0.95);
  cursor: pointer;
}

.taskList,
.task {
  width: 100%;
}

.task {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fffcf8;
  height: 50px;
  border-radius: 10px;
  padding: 0 0.5em;
  margin-bottom: 0.5em;
}

.check-btn {
  background-color: #fec3a6;
  border: 1px solid #353131;
  padding: 4px 7px;
  border-radius: 100%;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.reduce-opacity {
  opacity: 0.7;
}

.strike-through {
  text-decoration: line-through;
}

@media screen and (max-width: 426px) {
  h3 {
    font-size: 24px;
  }

  li,
  p,
  #date,
  button,
  input[type="text"],
  input::placeholder,
  .delete-btn {
    font-size: 14px;
  }

  p {
    padding: 0.3em 1em;
  }

  section .row {
    flex-direction: column;
  }

  section {
    max-width: 90%;
    padding: 0.5em 1em;
    margin: 2em 1em;
  }

  input[type="text"] {
    max-width: 100%;
  }

  button {
    margin-top: 1em;
  }

  .check-btn {
    margin-top: 0;
    padding: 3px 6px;
  }

  .delete-btn {
    margin-top: 0;
  }

  .task {
    height: 40px;
  }
}
